/* clean, round font family */
* {
    background-color: #fff;
  
    /* text */
    text-decoration-line: none;
  }
  
  body {
    max-width: 900px;
    margin: 0 auto;
    padding: 5rem;
  }
  
  .text-list {
    list-style: none; /* Remove default list bullets */
    padding-left: 0; /* Remove default left padding */
  }
  
  .text-list li::before {
    content: "*"; /* Set content to asterisk */
    margin-right: 0.5em; /* Add some spacing between the asterisk and the text */
  }
  
  p,
  a,
  li {
    color: #333333;
    font-family: "IBM Plex Mono", "Fira Code", "Consolas", "Monaco", monospace;
    font-size: small;
  }
  
  li {
    margin-bottom: 2px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial,
      sans-serif;
  }
  
  #home-work-label,
  #home-life-label {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial,
      sans-serif;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  
  strong,
  b,
  .bold {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
  }
  
  a {
    color: #bc4d3c;
  }
  
  a:hover {
    color: #ec9f93;
  }
  
  a.post-link {
    font-size: 1.17em;
  }
  
  #mahek-title,
  #home-work-label,
  #home-life-label {
    color: #333333;
  }
  
  #mahek-title:hover,
  #home-work-label:hover,
  #home-life-label:hover {
    text-decoration-line: underline;
  }
  
  /* Style the navigation list */
  .nav-list {
    list-style: none;
    display: flex;
    padding: 1em 0 1em 0;
    justify-content: space-left;
  }
  
  /* Style each navigation item */
  .nav-list li {
    margin: 0 4em 0 0;
  }
  
  /* Style the navigation links */
  .nav-list li a {
    text-decoration: none;
  }
  
  .post-list {
    list-style: none;
    padding-left: 0;
  }
  
  .post-list li {
    margin-bottom: 1.5em;
  }
  
  .post-meta {
    color: #828282;
  }
  
  .content {
    width: 66%;
    padding-left: 34%;
  }
  
  /* Media query for screens smaller than 600px */
  @media (max-width: 600px) {
    .content {
      width: 85%;
      padding-left: 15%;
    }
    body {
      margin: 1em 0 auto;
      padding: 3em;
    }
  
    .nav-list {
      justify-content: space-between;
    }
  
    .nav-list li {
      margin: 0;
    }
  }
  
  .hobbies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1.5em;
  }
  
  .hobbies-item {
    max-width: 30%;
  }
  
  .hobbies-pic {
    width: 100%;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #e8e8e8;
    padding-top: 3em;
    margin-top: 3em;
  }
  
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .custom-carousel {
    position: relative;
    max-width: 500px;  /* make the whole thing smaller */
    margin: 2rem auto;
  }
  .carousel-window {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  
  .carousel-track {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-track img {
    width: 100%;
    flex: 0 0 100%;  
    height: 300px;     /* fixes the height of the pictures */
    object-fit: cover;
  }
  
  
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(51, 11, 11, 0.4);
    color: white;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    transition: background 0.2s ease-in-out;
  }
  
  .carousel-btn:hover {
    background: rgba(87, 49, 49, 0.6);
  }
  
  .carousel-btn.left {
    left: 10px;
  }
  
  .carousel-btn.right {
    right: 10px;
  }

  
  